<% @title='Staff login' %>
<div id="login-form">
  <h2><%= @title %></h2>
  <%= form_for @form, url: :staff_session do |f| %>
  <div>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'ログイン' %>
  </div>
  <% end %>
</div>
